@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

.container {
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

p {
    color: black;
    font-size: 1.4rem;
    margin-top: 5px;
    line-height: 2.5rem;
    font-weight: 300;
    letter-spacing: .05rem;
}

.section-title {
    font-size: 4rem;
    font-weight: 300;
    color: black;
    margin-bottom: 10px;
    text-transform: uppercase;
    letter-spacing: .2rem;
    text-align: center;
}

    .section-title span {
        color: crimson;
    }

.my-button {
    display: inline-block;
    padding: 10px 30px;
    color: white;
    background-color: crimson;
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
    margin-top: 10px;
    transition: .3s ease background-color;
    border-radius: 5px;
}

    .my-button:hover {
        background-color: darkred;
    }

/* --- HEADER / NAVBAR --- */
#header {
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100vw;
    height: auto;
}

    #header .header {
        min-height: 8vh;
        background-color: rgba(31, 30, 30, 0.95);
        transition: .3s ease background-color;
    }

    #header .nav-bar {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        height: 100%;
        max-width: 1300px;
        padding: 0 20px;
    }

    #header .brand a h1 {
        font-size: 3rem;
        text-transform: uppercase;
        color: white;
    }

        #header .brand a h1 span {
            color: crimson;
        }

    #header .nav-list ul {
        list-style: none;
        display: flex;
    }

        #header .nav-list ul li a {
            font-size: 1.8rem;
            font-weight: 500;
            letter-spacing: .2rem;
            text-decoration: none;
            color: white;
            text-transform: uppercase;
            padding: 20px;
            display: block;
            transition: 0.3s ease color;
        }

            #header .nav-list ul li a:hover {
                color: crimson;
            }

/* Hide checkbox by default */
#menu-toggle {
    display: none !important;
}

#header .hamburger {
    display: none;
}

/* --- HERO SECTION --- */
#hero {
    background-color: #1a1a1a;
    position: relative;
    z-index: 1;
}

    #hero .hero {
        max-width: 1200px;
        margin: 0 auto;
        padding: 0 50px;
        justify-content: space-between;
    }

    #hero h1 {
        display: block;
        width: fit-content;
        font-size: 4rem;
        position: relative;
        color: white;
    }

        #hero h1 span {
            color: crimson;
        }

    #hero .my-image {
        width: 300px;
        height: 300px;
        border-radius: 50%;
        object-fit: cover;
        border: 3px solid crimson;
    }

/* --- SKILLS SECTION --- */
#services .service {
    flex-direction: column;
    text-align: center;
    max-width: 1500px;
    margin: 0 auto;
    padding: 100px 0;
}

#services .service-bottom {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 50px;
}

#services .service-item {
    flex-basis: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 30px;
    border-radius: 10px;
    background-color: #293241;
    margin: 10px 5%;
    color: white;
}

    #services .service-item .icon img {
        height: 80px;
        width: 80px;
        object-fit: contain;
        margin-bottom: 20px;
    }

    #services .service-item h2 {
        font-size: 2rem;
        color: white;
    }

/* --- ACTIVITIES / PROJECTS SECTION --- */
#projects .projects {
    flex-direction: column;
    max-width: 1200px;
    margin: 0 auto;
    padding: 100px 0;
}

#projects .all-projects {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}

#projects .project-item {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 80%;
    margin: 20px auto;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0px 0px 18px 0 #0000002c;
}

#projects .project-info {
    padding: 30px;
    flex-basis: 50%;
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    background-color: #293241;
    color: white;
    width: 100%;
}

    #projects .project-info h1 {
        font-size: 3rem;
        font-weight: 500;
    }

    #projects .project-info p {
        color: white;
    }

#projects .project-img {
    flex-basis: 50%;
    height: 300px;
    overflow: hidden;
    width: 100%;
}

/* --- ABOUT SECTION --- */
#about .about {
    flex-direction: column-reverse;
    text-align: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 100px 20px;
}

#about .col-left {
    width: 250px;
    height: 360px;
}

#about .col-right {
    width: 100%;
}

    #about .col-right h2 {
        font-size: 1.8rem;
        font-weight: 500;
        letter-spacing: .2rem;
        margin-bottom: 10px;
    }

    #about .col-right p {
        margin-bottom: 30px;
    }

#about .about-img {
    position: relative;
    border: 10px solid white;
    height: 100%;
    width: 100%;
}

/* --- CONTACT SECTION --- */
#contact .contact {
    flex-direction: column;
    max-width: 1200px;
    margin: 0 auto;
    width: 90%;
}

#contact .contact-items {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 50px;
}

#contact .contact-item {
    width: 80%;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    padding: 30px;
    margin: 30px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0px 0px 18px 0 #0000002c;
}

#contact .icon img {
    width: 70px;
    height: 70px;
}

#contact .contact-info h1 {
    font-size: 2.5rem;
    font-weight: 500;
    margin-bottom: 5px;
}

#contact .contact-info h2 {
    font-size: 1.3rem;
    line-height: 2rem;
    font-weight: 500;
}

/* --- FOOTER SECTION --- */
#footer {
    background-color: #1f1e1e;
}

    #footer .footer {
        min-height: 200px;
        flex-direction: column;
        padding-top: 50px;
        padding-bottom: 10px;
    }

    #footer .brand h1 {
        font-size: 3rem;
        text-transform: uppercase;
        color: white;
    }

        #footer .brand h1 span {
            color: crimson;
        }

    #footer h2 {
        color: white;
        font-weight: 500;
        font-size: 1.8rem;
        letter-spacing: .1rem;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    #footer .social-icon {
        display: flex;
        margin-bottom: 30px;
    }

    #footer .social-item img {
        filter: grayscale(1);
        transition: .3s ease filter;
        width: 50px;
        height: 50px;
    }

    #footer .social-item:hover img {
        filter: grayscale(0);
    }

/* ========================================================= */
/* --- RESPONSIVE MOBILE FIXES (PURE CSS CHECKBOX HACK) --- */
/* ========================================================= */

@media only screen and (max-width: 768px) {
    #header .hamburger {
        display: flex !important;
        justify-content: center !important;
        align-items: center !important;
        height: 50px !important;
        width: 50px !important;
        position: relative !important;
        z-index: 99999 !important;
        cursor: pointer !important;
    }

        #header .hamburger .bar {
            height: 3px !important;
            width: 30px !important;
            position: relative !important;
            background-color: white !important;
            transition: 0.3s ease background-color !important;
        }

            #header .hamburger .bar::after,
            #header .hamburger .bar::before {
                content: '' !important;
                position: absolute !important;
                height: 100% !important;
                width: 100% !important;
                left: 0 !important;
                background-color: white !important;
                transition: 0.3s ease;
                transition-property: top, bottom;
            }

            #header .hamburger .bar::after {
                top: 8px !important;
            }

            #header .hamburger .bar::before {
                bottom: 8px !important;
            }

    /* Mobile Overlay Menu Panel */
    #header .nav-list ul {
        position: fixed !important;
        background-color: rgba(31, 30, 30, 0.98) !important;
        height: 100vh !important;
        width: 100vw !important;
        left: 100% !important;
        top: 0 !important;
        display: flex !important;
        flex-direction: column !important;
        justify-content: center !important;
        align-items: center !important;
        z-index: 99988 !important;
        transition: 0.4s ease left !important;
        list-style: none !important;
    }

    /* Kapag pino-toggle ang checkbox, lilitaw ang navigation menu */
    #menu-toggle:checked ~ ul {
        left: 0 !important;
    }

    /* 'X' icon animation kapag sarado/bukas */
    #menu-toggle:checked ~ .hamburger .bar {
        background-color: transparent !important;
    }

        #menu-toggle:checked ~ .hamburger .bar::before {
            bottom: 0 !important;
            transform: rotate(45deg) !important;
        }

        #menu-toggle:checked ~ .hamburger .bar::after {
            top: 0 !important;
            transform: rotate(-45deg) !important;
        }

    #header .nav-list ul li a {
        font-size: 2.5rem !important;
        font-weight: 500 !important;
        letter-spacing: 0.2rem !important;
        text-decoration: none !important;
        color: white !important;
        text-transform: uppercase !important;
        padding: 20px !important;
        display: block !important;
    }

    #hero .hero {
        flex-direction: column-reverse;
        justify-content: center;
        text-align: center;
        padding-top: 100px;
    }

    #hero h1 {
        font-size: 3rem;
        margin: 0 auto;
    }

    #hero .my-image {
        width: 200px;
        height: 200px;
        margin-bottom: 20px;
    }

    #services .service-item {
        flex-basis: 100%;
        margin: 10px 0;
    }

    #projects .project-item {
        flex-direction: column;
        width: 100%;
    }

    #contact .contact-item {
        width: 100%;
    }
}

@media only screen and (min-width: 769px) {
    #header .hamburger {
        display: none;
    }

    #header .nav-list ul {
        position: initial;
        display: flex;
        height: auto;
        width: auto;
        background-color: transparent;
    }

    #services .service-item {
        flex-basis: 22%;
        margin: 1.5%;
    }

    #projects .project-item {
        flex-direction: row;
        height: 400px;
        margin: 0;
        width: 100%;
        border-radius: 0;
    }

    #projects .all-projects .project-item:nth-child(even) {
        flex-direction: row-reverse;
    }

    #about .about {
        flex-direction: row;
        text-align: left;
    }

    #about .col-left {
        width: 600px;
        height: 400px;
    }

    #contact .contact-items {
        flex-direction: row;
    }

    #contact .contact-item {
        margin: 20px;
        width: 30%;
    }
}
